*.o
*.a
lib/

# List of Executables 
./dns/dns
./dns/dns_mp
./utility/sem2tec
./utility/resubmit
./utility/save
./utility/rayavg
./utility/pline
./utility/moden
./utility/fsub
./utility/average
./utility/repeatz
./utility/addquick
./utility/xplane
./utility/index00
./utility/index
./utility/sem2vtk
./utility/linedist
./utility/rstress
./utility/run_job_example
./utility/run_job
./utility/repeatxy
./utility/convert
./utility/gmsh2sem.py
./utility/xfield
./utility/noiz
./utility/avgdump
./test/testsuite
./test/testregress_mp
./test/makeregress
./test/testregress
./test/testsuite_mp
./test/testconvg
./test/bench_mp
./test/makeregress_mp
./elliptic/elliptic_mp
./elliptic/testsuite
./elliptic/elliptic
