*.o
*.a
lib/
*.vtk
sim/
*/tmp.*

# List of Executables 
dns/dns
dns/dns_mp
elliptic/elliptic
elliptic/elliptic_mp
elliptic/testsuite
test/*
utility/addfield
utility/avgdump
utility/calc
utility/chop
utility/compare
utility/convert
utility/eneq
utility/enumerate
utility/integral
utility/interp
utility/lowpass
utility/mapmesh
utility/meshpr
utility/moden
utility/noiz
utility/phase
utility/preplot
utility/probe
utility/probeline
utility/probeplane
utility/project
utility/rectmesh
utility/repeatxy
utility/repeatz
utility/rstress
utility/sem2nek
utility/sem2tec
utility/sem2vtk
utility/slit
utility/stressdiv
utility/traction
utility/transform
utility/wallmesh
utility/wavestress
utility/xplane
